*{
    margin: 0;
    padding: 0;
    text-align: center;
}



h1{
    
    background-color: black;
    color: white;
    height:5rem;
    line-height: 5rem;
}
.choice {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display:flex ;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
    border: 20px;
    border-color: blue;

}

img{
    height: 200px;
    width: 200px;
    object-fit:cover;
   
}
.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score.comp-score{
   font-size: 5rem;
}

.msg-container{
    margin-top: 4rem;
}
#msg{
    margin: 5rem;
    background-color: blueviolet;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 3rem;
}